# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-arg.txt
.tox/
.coverage
.mypy_cache/
.pytest_cache/
htmlcov/
.DS_Store # macOS specific

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
